{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fashion-Q</title></head>
<body>
<div id="root">
</div>
<div id="aa">
    <div style="text-align: center; display: inline-block" id="image"></div>
    <div style="text-align: center; display: inline-block" id="flagship_image"></div>
    <div style="display: inline-block" id="chart-area"></div>
    <div style="display: inline-block" id="linechart"></div>
    <div id="scatter"></div>
</div>
{% render_bundle 'main' %} {% render_bundle 'runtime-main' %} {% render_bundle 'undefined' %}
<!--여기서 디자인-->
</body>
</html>
